*{
	font-family: 'Open Sans', sans-serif; 
	
}
body{
	width: 100%;
	height: auto;


}
body p{
	/*font-size: 25px;*/
}
button a{
	color: #fff;
}
#banner{
	display: inline-block;
}
footer{
	width: 100%;
	padding: 20px;
	height: 150px;
	background-color: red;
	background-image: url("images/nba1.jpg");
	background-color: #00FF7F;
}
footer p{
	vertical-align: center;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
col-sm-4 .dropdown{
	padding: 2.5em;
}
div.col-sm-8{
	/*padding-left: 100px;
	padding-top: 100px;*/
}
.imgnba {
	border: 2px solid orange;
}
.btna, .btnb {
	width: 200px;
	border-radius: 20px;
}
.btnc {
	width: 400px;
	text-shadow: 2px 2px #FF0000;
	color: #000;
	border-radius: 30px;
	background-color: #000!important;
}
.nav>li>a {
	padding: 0;
}
hr {
	height: 2px solid #00FF7F;
}
#button1, #button2 {
	width: 250px;
}
.btn-success {
	width: 350px;
}
.navbar-nav>li>a {
	margin: 40px!important;
	font-size: 22px;
	color: #000;
}
a.navbar-brand {
	font-size: 36px;
}
